<template>
    <lightning-tabset>
        <lightning-tab label="Rent request" value="one">
            <p>
                <b>Code#40204001</b> 
                
                 </p>
    
    <lightning-accordion allow-multiple-sections-open
                         onsectiontoggle={toggleSectionHandleW3web}
                         active-section-name={activeSections}>
        <lightning-accordion-section name="Father" label="Father ">
            <div>
            <div class="c-container"></div>
                        <lightning-layout>
                            <lightning-layout-item padding="around-small">
                                <div class="header-row">
                                    <p class="field-title" title="">Name</p>
                                    <p><b>Benjamin </b></p>
                                </div>
                            </lightning-layout-item>   
                              </lightning-layout>         
                
    
<div class="c-container">
    <lightning-layout>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Age</p>
                <p><b>15 year</b></p>
            </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Skill</p>
                <p><b>Beginner</b></p>
            </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Body height</p>
                <p><b>170Cm</b></p>
            </div>
         </lightning-layout-item>
    </lightning-layout>
</div>

<div class="c-container">
    <lightning-layout>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Weight</p>
                <p><b>30kg</b></p>
            </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Shoe size</p>
                <p><b>25 cm</b></p>
            </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Z value</p>
                <p><b>X</b></p>
            </div>
         </lightning-layout-item>
    </lightning-layout>
</div>
<lightning-layout-item padding="around-small">
    <div class="header-column">
        <p class="field-title" title=""><b>Gear Grade</b></p>
        <p>All Round</p>
    </div>
 </lightning-layout-item>
<lightning-layout-item padding="around-small">
    <div class="header-column">
        <p class="field-title" title=""><b>Required Gears</b></p>
    </div>
</lightning-layout-item>
    <lightning-badge label="Helmets" ></lightning-badge>
    <lightning-badge label="Gloves" ></lightning-badge>
    <lightning-badge label="Ski Poles" ></lightning-badge>
    <br>
    <lightning-badge label="Boots" ></lightning-badge>
    <lightning-badge label="Ski " ></lightning-badge>
</div>
<br>
                
                <div class="slds-text-align_center">
                    <lightning-button
                        variant="brand"
                        class="slds-var-m-left_x-small"
                      
                        label="Scan Barcode"
                        title="Open a camera view and look for a barcode to scan"
                        onclick={handleBeginScanClick}>
                    </lightning-button>
                </div>
            
        </lightning-accordion-section>
  </lightning-accordion>
  <lightning-accordion allow-multiple-sections-open
                         onsectiontoggle={toggleSectionHandleW3web}
                         active-section-name={activeSections}>
        <lightning-accordion-section name="Child" label="Child ">
            <div>
            <div class="c-container"></div>
                        <lightning-layout>
                            <lightning-layout-item padding="around-small">
                                <div class="header-row">
                                    <p class="field-title" title="">Name</p>
                                    <p><b>Benjamin Robert</b></p>
                                </div>
                            </lightning-layout-item>   
                              </lightning-layout>         
                
    
<div class="c-container">
    <lightning-layout>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Age</p>
                <p><b>40 year</b></p>
            </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Skill</p>
                <p><b>Beginner</b></p>
            </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Body height</p>
                <p><b>170Cm</b></p>
            </div>
         </lightning-layout-item>
    </lightning-layout>
</div>

<div class="c-container">
    <lightning-layout>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Weight</p>
                <p><b>70 kg</b></p>
            </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Shoe size</p>
                <p><b>40 cm</b></p>
            </div>
        </lightning-layout-item>
        <lightning-layout-item padding="around-small">
            <div class="header-column">
                <p class="field-title" title="">Z value</p>
                <p><b>X</b></p>
            </div>
         </lightning-layout-item>
    </lightning-layout>
</div>
<lightning-layout-item padding="around-small">
    <div class="header-column">
        <p class="field-title" title=""><b>Gear Grade</b></p>
        <p>All Round</p>
    </div>
 </lightning-layout-item>
<lightning-layout-item padding="around-small">
    <div class="header-column">
        <p class="field-title" title=""><b>Required Gears</b></p>
    </div>
 </lightning-layout-item>
    <lightning-badge label="Helmets" ></lightning-badge>
    <lightning-badge label="Gloves" ></lightning-badge>
    <lightning-badge label="Ski Poles" ></lightning-badge>
    <br>
    <lightning-badge label="Boots" ></lightning-badge>
    <lightning-badge label="Ski " ></lightning-badge>
</div>
           <br>     
                <div class="slds-text-align_center">
                    <lightning-button
                        variant="brand"
                        class="slds-var-m-left_x-small"
                      
                        label="Scan Barcode"
                        title="Open a camera view and look for a barcode to scan"
                        onclick={handleBeginScanClick}>
                    </lightning-button>
                </div>
            
        </lightning-accordion-section>
  </lightning-accordion>
</lightning-tab>
<lightning-tab label="Past Rating" value="two"> 
    <div class="slds-p-around--medium ">
        <dl class="slds-dl_inline ">
           
            <dt class="slds-dl_inline__label "><b>Helmet:</b></dt>
            
            <dd class="slds-dl_inline__detail slds-border_bottom"><b>Shred Ski Helmet</b><br> </br>5 Stars</dd>
            <dt class="slds-dl_inline__label "><b>Boot:</b></dt>
            <dd class="slds-dl_inline__detail slds-border_bottom"><b>Atomic Redster Club ... </b><br>3 Stars</dd>
            <dt class="slds-dl_inline__label "><b>Gloves:</b></dt>
            <dd class="slds-dl_inline__detail slds-border_bottom"><b>Wedze Ski Glove</b><br>4.5 Stars</dd>
            <dt class="slds-dl_inline__label "><b>Ski jacket:</b></dt>
            <dd class="slds-dl_inline__detail slds-border_bottom"><b>Heavy Snow Jacket</b><br>4.5 Stars</dd>
            <dt class="slds-dl_inline__label "><b>Ski Pants:</b></dt>
            <dd class="slds-dl_inline__detail slds-border_bottom"><b>Snow Pants</b><br>4.5Stars</dd>
            <dt class="slds-dl_inline__label "><b>Ski:</b></dt>
            <dd class="slds-dl_inline__detail slds-border_bottom"><b>Atomic Redster 180</b><br>4.5 Stars</dd>
            
          </dl>
        

    </div> 
</lightning-tab>
   

</lightning-tabset>


</template>